# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Tic Tac Toe\Tic Tac Toe Instant Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
